.projects-page {
  width: 1024px;
  padding: 2rem;
  margin: auto;
}

.btn-placeholder {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.latest-projects h1 {
  font-size: 2rem;
  font-weight: var(--weight-normal);
  text-transform: capitalize;
  margin-top: 1rem;
}
