.btn {
  font-family: var(--font-basic);
  font-size: small;
  font-weight: var(--weight-medium);
  text-transform: uppercase;
  padding: 0.75rem 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
  color: white;
  border-radius: var(--rounded-md);
}

.btn.create-btn {
  background-color: var(--creative-blue);
}

.btn.delete-btn {
  background-color: var(--error-red);
}

.btn.edit-btn {
  background-color: var(--success-green);
}

.btn.back-btn {
  background-color: var(--accent-500);
}

.btn.cancel-btn {
  background-color: var(--accent-200);
  color: var(--text-dark);
}

.btn.upload-btn {
  background-color: var(--tomato-orange);
}
