.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-card-container {
  width: 1024px;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.d-card {
  width: 17rem;
  height: 11rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: var(--rounded-md);
  cursor: pointer;
  user-select: none;
}

.d-card h1 {
  font-weight: var(--weight-normal);
  text-transform: capitalize;
  color: var(--text-dark);
}

.d-logo {
  align-self: flex-end;
  color: var(--accent-300);
}

.d-card p {
  font-weight: var(--weight-light);
  color: var(--success-green);
}

.d-l {
  width: 640px;
  margin: 3rem auto;
}

.d-l h1 {
  margin: 2rem 0;
  font-weight: var(--weight-light);
}

.li-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  text-transform: capitalize;
}

.li-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: var(--rounded-full);
}

.li-panel span {
  font-weight: var(--weight-light);
  margin: 0 1rem;
}

.li-btn {
  display: block;
  margin: auto;
  background-color: transparent;
}
