.page-header {
  width: 100%;
  height: 40vh;
  background-color: var(--bg-secondary);
}

.p-header-container {
  position: relative;
  width: 1024px;
  height: 100%;
  margin: auto;
}

.p-header-container h1 {
  font-size: 4rem;
  font-weight: var(--weight-light);
  text-transform: capitalize;
  color: white;
  position: absolute;
  top: 50%;
  left: 1rem;
}
