.p-section {
  width: 23rem;
  height: 16rem;
  background-color: var(--accent-200);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--rounded-md);
  user-select: none;
}

.p-photo-container {
  width: 5rem;
  height: 5rem;
  border-radius: var(--rounded-full);
  overflow: hidden;
}

.p-photo {
  width: 100%;
  height: 100%;
}

.p-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.p-name {
  font-size: 1.5rem;
  font-family: var(--font-display);
  font-weight: var(--weight-normal);
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.7);
}

.p-username {
  font-style: italic;
  font-weight: var(--weight-medium);
}

.p-email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: small;
  color: rgba(0, 0, 0, 0.7);
}

.p-email span {
  display: flex;
  align-items: center;
}

.p-field {
  font-size: small;
  color: rgba(0, 0, 0, 0.7);
}
