.project-card-section {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  box-sizing: border-box;
}

.project-card {
  width: 18rem;
  height: 22rem;
  position: relative;
  box-sizing: border-box;
  border-radius: var(--rounded-lg);
  overflow: hidden;
  background-color: var(--accent-600);
}

.project-card-header {
  width: 100%;
  height: 8.5rem;
}

.project-card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card-body {
  padding: 1rem;
}

.project-name {
  font-size: large;
  font-weight: var(--weight-normal);
  text-transform: capitalize;
  color: var(--text-light);
}

.project-price {
  font-size: small;
  font-weight: var(--weight-thin);
  text-transform: capitalize;
  margin-top: 0.25rem;
  color: var(--success-green);
}

.project-description {
  font-size: small;
  text-transform: capitalize;
  margin: 1rem 0 0 0;
  color: rgba(255, 255, 255, 0.6);
}

.project-card-arrow {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 0.5rem;
  font-family: var(--font-basic);
  background-color: #e5d283;
  border-radius: var(--rounded-lg);
}

.project-card-underline {
  width: 100%;
  height: 0.25rem;
  background-color: var(--accent-100);
  position: absolute;
  bottom: 0;
  left: 0;
}
