.secret-box {
  width: 15rem;
  height: 15rem;
}

.secret-box h3 {
  font-size: large;
  font-weight: var(--weight-normal);
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.s-field {
  position: relative;
  margin: 1rem 0;
}

.s-field label {
  display: block;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
  font-size: small;
  text-align: center;
}

.s-field input {
  padding: 1rem 2rem;
  border: none;
  background-color: var(--bg-primary);
  border-radius: var(--rounded-md);
  width: 100%;
  text-align: center;
  font-size: medium;
}

.s-btn {
  position: absolute;
  right: 1rem;
  top: 2rem;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
