.project-section {
  width: 1024px;
  margin: auto;
  padding: 2rem;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  height: 26rem;
  position: relative;
  display: flex;
  border-radius: var(--rounded-lg);
}

.carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--rounded-lg);
}

.carousel-next,
.carousel-prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: var(--rounded-full);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.carousel-next {
  right: 10px;
}

.carousel-prev {
  left: 10px;
}

.project-info {
  width: 100%;
  margin: 1rem 0;
}

.p-info-header {
  font-weight: var(--weight-light);
  font-size: 2rem;
  text-transform: capitalize;
}

.p-info-manager {
  margin-top: 0.75rem;
  font-weight: var(--weight-medium);
  text-transform: capitalize;
}

.p-info-manager span {
  font-size: x-small;
  font-weight: var(--weight-light);
  background-color: var(--accent-300);
  color: white;
  padding: 0.25rem;
  margin-right: 1rem;
  border-radius: var(--rounded-lg);
}

.p-info-price {
  margin: 0.75rem 0;
  color: var(--success-green);
}

.p-info-date span {
  font-size: small;
  font-weight: var(--weight-light);
  margin-right: 1rem;
}

.p-info-description {
  margin-top: 1rem;
  font-weight: var(--weight-light);
}

.project-location {
  width: 640px;
  height: 20rem;
  margin: 2rem auto;
  border-radius: var(--rounded-lg);
  overflow: hidden;
}

.p-map-fetch {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-map-fetch p {
  font-size: large;
  font-weight: var(--weight-light);
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
}

.project-tasks {
  width: 640px;
  margin: 4rem auto;
}

.project-tasks h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: var(--weight-light);
  margin: 1rem;
}

.p-no-tasks {
  width: 640px;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: var(--rounded-lg);
  background-color: white;
  font-size: small;
  text-align: center;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
}

.btn-place {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-blueprints {
  width: 640px;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: var(--rounded-lg);
  background-color: white;
  display: flex;
  justify-content: center;
}

.project-blueprints p {
  text-transform: capitalize;
  font-weight: var(--weight-light);
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.pdf-viewer {
  margin: 1rem 0;
}

.t-description {
  margin-bottom: 1rem;
  font-weight: var(--weight-light);
  color: rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
}

.t-deadline {
  margin: 0.75rem 0;
  font-size: small;
  font-weight: var(--weight-light);
}

.t-deadline span {
  padding: 0.25rem 0.5rem;
  background-color: var(--error-red);
  color: white;
  font-size: x-small;
  font-weight: var(--weight-light);
  text-transform: uppercase;
  border-radius: var(--rounded-md);
  margin-right: 0.5rem;
}

.t-status {
  margin: 0.5rem 0;
  font-size: small;
  font-weight: var(--weight-light);
  text-transform: uppercase;
}

.t-status span {
  padding: 0.25rem 0.5rem;
  background-color: var(--success-green);
  color: white;
  font-size: x-small;
  font-weight: var(--weight-light);
  text-transform: uppercase;
  border-radius: var(--rounded-md);
  margin-right: 0.5rem;
}

.t-assignees {
  list-style: decimal;
  width: 18rem;
  margin: auto;
  text-align: center;
  padding: 1rem;
  font-size: small;
}

.t-assignees p {
  text-transform: uppercase;
  font-size: small;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0.75rem;
}

.t-btn-holder {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.t-btn {
  background-color: transparent;
}
