@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --bg-primary: #e1ebee;
  --bg-secondary: #4f709c;
  --accent-600: #213555;
  --accent-500: #22668d;
  --accent-400: #4f709c;
  --accent-300: #8ecddd;
  --accent-200: #ffcc70;
  --accent-100: #fffadd;
  --text-dark: #191717;
  --text-light: #f1efef;
  --backdrop-color: #000000e1;
  --success-green: #32cd32;
  --creative-blue: #4169e1;
  --error-red: #ed2939;
  --tomato-orange: #ff6347;
  --font-basic: "Roboto", sans-serif;
  --font-alternate: "Mooli", sans-serif;
  --font-display: "Bebas Neue", sans-serif;
  --weight-thin: 100;
  --weight-extralight: 200;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;
  --weight-black: 900;
  --rounded-sm: 0.125rem;
  --rounded: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-full: 50%;
  --shadow-primary: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: var(--font-basic);
  background-color: var(--bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
