.p-card-section {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.p-card {
  width: 11rem;
  height: 16rem;
  padding: 2rem;
  position: relative;
  box-sizing: border-box;
  border-radius: var(--rounded-md);
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

.p-card-icon {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
}

.p-card-text {
  margin: 2rem 0;
  font-weight: var(--weight-light);
}

.p-card-underline {
  width: 100%;
  height: 0.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
